{% extends "landing/base/index.html" %}
{% load custom_filters %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-9 col-xl-7">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Create New Account</h5>
                </div>
                <div class="p-2 mt-4">
                    <form id="signup-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% include "libs/input.html" with label="Username" name="Username" type="name" required=True %}
                    
                        <div class="row mb-3" style="margin-top: 10px;">
                            <div class="col">
                                {% include "libs/input.html" with label="Password" name="password1" type="password" required=True %}
                            </div>
                            <div class="col">
                                {% include "libs/input.html" with label="Confirm Password" name="password2" type="password" required=True %}
                            </div>
                        </div>


                        {% include "libs/input.html" with label="Name" name="Name" type="name" required=True %}

                        

                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic">By registering you agree to {{COMPANY_NAME}} 
                                <button type="button" style="background: transparent;border: transparent;" class="text-primary text-decoration-underline fst-normal fw-medium" data-bs-toggle="modal" data-bs-target="#terms">
                                    Terms of Use
                                </button>
                            </p>
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">
                                Sign Up
                            </button>
                            <button type="submit" style="display:none" id="signup_btn"></button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0">Already have an account ? <a href="{% url 'login_user' %}" class="fw-semibold text-primary text-decoration-underline"> Signin </a> </p>
        </div>
        
        

    </div>
</div>

{% endblock content %}


{% block modal %}
    
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="bg-warning-subtle position-relative">
                <div class="card-body p-5">
                    <div class="text-center">
                        <h3>Term &amp; Conditions</h3>
                        <p class="mb-0 text-muted">Last update: 16 Sept, 2022</p>
                    </div>
                </div>
                <div class="shape">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none" viewBox="0 0 1440 60">
                        <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none">
                            <path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-secondary-bg);"></path>
                        </g>
                        <defs>
                            <mask id="SvgjsMask1001">
                                <rect width="1440" height="60" fill="#ffffff"></rect>
                            </mask>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body p-4">
                        <div>
                            <h5>Welcome to {{COMPANY_NAME}}!</h5>
                            <p class="text-muted">These terms and conditions outline the rules and regulations for the use of {{COMPANY_NAME}}'s Website, located at Website.com.</p>
                            <p class="text-muted">By accessing this website we assume you accept these terms and conditions. Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page.</p>
                            <p class="text-muted">Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
                        </div>
                        
                        <div>
                            <h5>License</h5>
                            <p class="text-muted">Unless otherwise stated, {{COMPANY_NAME}} and/or its licensors own the intellectual property rights for all material on Website Name. All intellectual property rights are reserved. You may access this from Website Name for your own personal use subjected to restrictions set in these terms and conditions.</p>
                            <p class="text-muted">You must not:</p>
                            <ul class="text-muted vstack gap-2">
                                <li>
                                    Republish material from Website Name
                                </li>
                                <li>
                                    Sell, rent or sub-license material from Website Name
                                </li>
                                <li>
                                    Reproduce, duplicate or copy material from Website Name
                                </li>
                                <li>
                                    Redistribute content from Website Name
                                </li>
                            </ul>
                            <p class="text-muted">This Agreement shall begin on the date hereof.</p>
                            <p class="text-muted">Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. {{COMPANY_NAME}} does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of {{COMPANY_NAME}},its agents and/or affiliates.</p>
                        </div>

                        <div>
                            <p class="text-muted">{{COMPANY_NAME}} reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                            <p class="text-muted">You warrant and represent that:</p>
                            <ul class="text-muted vstack gap-2">
                                <li>
                                    You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                                </li>
                                <li>
                                    The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
                                </li>
                                <li>
                                    The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy
                                </li>
                                <li>
                                    The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
                                </li>
                            </ul>
                            <p class="text-muted">You hereby grant {{COMPANY_NAME}} a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
                            <p class="text-muted">Approved organizations may hyperlink to our Website as follows:</p>
                            <ul class="text-muted vstack gap-2">
                                <li>
                                    By use of our corporate name; or
                                </li>
                                <li>
                                    By use of the uniform resource locator being linked to; or
                                </li>
                                <li>
                                    By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party's site.
                                </li>
                            </ul>
                            <p class="text-muted fw-semibold">No use of {{COMPANY_NAME}}'s logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-end hstack gap-2 justify-content-end">
                    <button class="btn btn-success" onclick="submit_form()">Accept</button>
                    <button class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ri-close-line align-bottom me-1"></i> Decline</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock modal %}


{% block script %}
<script>
    var myModal = new bootstrap.Modal(document.getElementById('terms'), {});
    
    function submitForm() {
        if(!document.getElementById('email').value.includes("@")){
            Swal.fire({
                title: "Invalid Email Format",
                html: "Please make sure the email input is valid",
                icon: "warning",
                confirmButtonClass: "btn btn-primary w-xs mt-2",
                buttonsStyling: false,
                showCloseButton: true
            });
        }else if(document.getElementById('password1').value != document.getElementById('password2').value){
            Swal.fire({
                title: "Password not consistant",
                html: "Please make sure the password input are consistant",
                icon: "warning",
                confirmButtonClass: "btn btn-primary w-xs mt-2",
                buttonsStyling: false,
                showCloseButton: true
            });
        }else{
            const form = document.getElementById('signup_btn');
            form.click()
            
            let timerInterval;
            Swal.fire({
                title: 'Processing Your Registration',
                html: 'Please be patient as we process your request.<br> Estimated time: <b></b> milliseconds.<br/><div class="swal2-progressbar"><div class="swal2-progress"></div></div>',
                timer: 5000,
                allowOutsideClick: () => !Swal.isLoading(),
                didOpen: () => {
                Swal.showLoading();

                const swalContent = Swal.getHtmlContainer();
                const progressBar = swalContent.querySelector('.swal2-progress');
                const timerEl = swalContent.querySelector('b');
                let width = 0;

                timerInterval = setInterval(() => {
                    const timeLeft = Swal.getTimerLeft();
                    if(timeLeft !== undefined) {
                    timerEl.textContent = timeLeft;
                    width += 0.2;
                    progressBar.style.width = width + '%';
                    }
                }, 100);
                },
                willClose: () => {
                clearInterval(timerInterval);
                },
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer');
                }
            });
        }
      }
      
    
    function submit_form(){
        myModal.toggle();
        setTimeout(submitForm, 500);

    }
</script>

<script>
    function other_state(that){
        if (that.value == "OTHERS") {
            document.getElementById('state_other_input').style.display=""
        }
        else {
            document.getElementById('state_other_input').style.display="none"
            document.getElementById('state_other_input').value=""
        }
    }
</script>
{% endblock script %}