{% extends 'base/main.html' %}
{% block content %}


<div class="header-bar">
    <a href="{% url 'tasks' %}" class="back">&#8592; Back</a>
</div>

<div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == 'duedate' %}
            <div style="display: flex; align-items: center;">
                {% if field.value %}
                <input type="date" id="{{ field.id }}" name="{{ field.name }}" value="{{ field.value|date:'Y-m-d' }}" class="form-control">
                {% else %}
                <input type="date" id="{{ field.id }}" name="{{ field.name }}" class="form-control">
                {% endif %}
            </div>
            {% else %}
            {{ field }}
            {% endif %}
        </div>
        {% endfor %}
        <p></p>
        <input class="button" type="submit" value="Update">
    </form>
</div>


{% endblock content %}